.slider_img1 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121),
        url("/doc/loading.gif");

    box-shadow: inset 1px -20px 50px #212121;
}

.slider_img2 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121),
        url("/doc/1x1_NSwitchDS_ApexLegends_Season18_image500w.jpg");

    box-shadow: inset 1px -20px 50px #212121;
}

.slider_img3 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121),
        url("/doc/Hardware.JPG");

    box-shadow: inset 1px -20px 50px #212121;
}

.slider_img4 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121),
        url("/doc/Streetlifting.WEBP");

    box-shadow: inset 1px -20px 50px #212121;
}

.slider_img5 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121),
        url("/doc/courseapied.JPG");

    box-shadow: inset 1px -20px 50px #212121;
}