body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(/doc/Shader\ Gradient\ Wild.png); */
    /* background-size: cover; */
    font-family: 'poppins';
}

#myVideo {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#marge {
    margin: 0 90px 0 90px;
}

.navbar {
    position: absolute;
    background-color: rgba(61, 61, 61, 0.5);
    height: 100%;
    width: 300px;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.open {
    transform: translateX(0);
}

#closemark {
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 10px;
    top: 0;
    right: 0;
}

#closemark:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;
}

.list li {
    top: 25%;
    list-style-type: none;
    font-size: 18px;
    color: white;
    padding: 3px;
    transform: translateY(40px);
}

.list li:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav {
    display: flex;
    justify-content: space-between;
}

#big {
    padding: 0;
    backdrop-filter: invert(20%);
}

#big:hover {
    transform: scale(1.01);
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.bi-list {
    font-size: 30px;
    margin: 20px 20px 20px 0;
    color: white;
    transition: 0.2s ease;
}

.bi-list:hover {
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
}

.remove {
    color: transparent;
    transition: 0.5s ease;
}

#vide {
    color: transparent;
}

header {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mainimage {
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.description {
    margin: 20px 20px 20px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    padding: 20px 20px 20px 0;
    max-width: 65ch;
}

main {
    width: 90%;
    height: 700px;
    margin: auto;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#leftarrow,
#rightarrow {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#leftarrow:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s ease;
}

#rightarrow:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s ease;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

.element {
    background-color: rgba(255, 255, 255, 0.5);
    height: 500px;
    min-width: 300px;
    margin: 20px;
    border-radius: 20px;
}

.image {
    width: 300px;
    height: 300px;
}

footer {
    margin: 15px;
}

.git,
.twitter,
.instagram {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0;
}

#gitlogo,
#instlogo,
#xlogo {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.linktxt {
    font-weight: 600;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}