body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(/doc/Shader\ Gradient\ Wild.png); */
    /* background-size: cover; */
    font-family: "poppins";
}

#myVideo {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100%;
}

#marge {
    margin: 0 90px 0 90px;
}

.navbar {
    position: absolute;
    background-color: rgba(61, 61, 61, 0.5);
    height: 1470px;
    width: 300px;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.open {
    transform: translateX(0);
}

#closemark {
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 10px;
    top: 0;
    right: 0;
}

#closemark:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;
}

.list li {
    top: 25%;
    list-style-type: none;
    font-size: 18px;
    color: white;
    padding: 3px;
    transform: translateY(40px);
}

.list li:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav {
    display: flex;
    justify-content: space-between;
}

#big {
    padding: 0;
}

#big:hover {
    transform: scale(1.01);
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.bi-list {
    font-size: 30px;
    margin: 20px 20px 20px 0;
    color: white;
    transition: 0.2s ease;
}

.bi-list:hover {
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
}

.remove {
    color: transparent;
    transition: 0.5s ease;
}

#vide {
    color: transparent;
}

header {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mainimage {
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.description {
    margin: 20px 20px 20px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    padding: 20px 20px 20px 0;
    max-width: 65ch;
}

main {
    width: 90%;
    height: 1000px;
    margin: auto;
    margin-top: 150px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    /* width: 80%; */
    margin: 0;
    overflow: hidden;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* transform: translateX(-261px); */
    /* gap: 20px; */
    /* overflow: hidden; */
}

.element {
    /* background-image: url(/doc/IMG_6613.JPG);
    background-size: cover; */
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 45%;
    height: 900px;
    margin: 20px;
    /* padding: 20px; */
    background-color: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    color: white;
    border-radius: 20px;
}

/* #img3 {
    background-image: url(/doc/IMG_6613.JPG);
    background-size: cover;
} */

/* .img {
    width: 338px;
    height: 480px;
} */

h1 {
    width: 100%;
    height: 50%;
    font-size: 20px;
}

#leftarrow {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
    left: 5%;
}

#rightarrow {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 5%;
    cursor: pointer;
}

#leftarrow:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s ease;
}

#rightarrow:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s ease;
}

footer {
    margin: 15px 15px 65px 15px;
}

.git,
.twitter,
.instagram {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 0;
}

#gitlogo,
#instlogo,
#xlogo {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.linktxt {
    font-weight: 600;
    color: white;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
}

.slider_img1 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 36%;
    background-size: cover;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0),
            #212121
        ),
        url("/doc/loading.gif");

    box-shadow: inset 1px -20px 50px #212121;
}
