body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/doc/Shader\ Gradient\ Wild.png);
    background-size: cover;
    font-family: 'poppins';
}

#marge {
    margin: 0 90px 0 90px;
}

.navbar {
    position: absolute;
    background-color: rgba(61, 61, 61, 0.5);
    height: 100%;
    width: 300px;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.open {
    transform: translateX(0);
}

#closemark {
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 10px;
    top: 0;
    right: 0;
}

#closemark:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;
}

.list li {
    top: 25%;
    list-style-type: none;
    font-size: 18px;
    color: white;
    padding: 3px;
    transform: translateY(40px);
}

.list li:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav {
    display: flex;
    justify-content: space-between;
}

#big {
    padding: 0;
    backdrop-filter: invert(20%);
}

.bi-list {
    font-size: 30px;
    margin: 20px 20px 20px 0;
    color: white;
    transition: 0.5s ease;
}

.bi-list:hover {
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
}

.remove {
    color: transparent;
    transition: 0.5s ease;
}

#vide {
    color: transparent;
}

header {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mainimage {
    height: 300px;
    width: auto;
    border-radius: 15px;
}

.description {
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    width: 90%;
    height: 700px;
    margin: auto;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#leftarrow,
#rightarrow {
    color: white;
    font-size: 30px;
}



.elements {
    height: 90%;
    width: 90%;
}

.image {
    width: 300px;
    height: 300px;
}

footer {
    margin: 15px;
}

.git,
.twitter,
.instagram {
    margin: 5px 5px 5px 0;
}

#gitlogo,
#intlogo,
#xlogo {
    color: white;
}