.loading {
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: ease-in-out all 0.3s;
}

.loading img {
    height: 60%;
}
