body {
  height: 100%;
  width: 100%;
}
#myVideo {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.profilp {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  color: white;
}

.card {
  height: 30%;
  width: 60%;
}
header {
  height: 30%;
  display: grid;
  align-items: center;
  justify-content: center;
}
main {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10%;
  align-items: center;
}
