#marge {
    margin: 0;
}

#big {
    transform: scale(0.7);
}

nav {
    display: flex;
    justify-content: flex-start;
}

#big:hover {
    transform: scale(0.7);
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

header {
    flex-direction: column;
    align-items: center;
}

#rightarrow,
#leftarrow {
    display: none;
}

.navbar {
    width: 100vw;
}

main {
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.element {
    min-width: 100%;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
}

.git,
.twitter,
.instagram {
    margin: 0;
}

body {
    overflow-x: hidden;
}

#gitlogo,
#instlogo,
#xlogo {
    font-size: 35px;
    margin: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.linktxt {
    display: none;
    font-size: 12px;
    margin: 0 0 0 10px;
}

#myVideo {
    position: fixed;
    object-fit: cover;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* min-width: 78vw; */
    min-height: 100%;
    width: 100vw !important;
    overflow: hidden !important;
}

#vide {
    display: none;
}