#marge {
    margin: 0;
}

#big {
    transform: scale(0.7);
}

#big:hover {
    transform: scale(0.7);
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

header {
    flex-direction: column;
    align-items: center;
}

#rightarrow,
#leftarrow {
    display: none;
}

main {
    width: 60%;
}

.element {
    min-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

.git,
.twitter,
.instagram {
    margin: 0;
}


#gitlogo,
#instlogo,
#xlogo {
    font-size: 35px;
    margin: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, .3);
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.linktxt {
    display: none;
    font-size: 12px;
    margin: 0 0 0 10px;
}