body {
    height: 100%;
}

header {
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.title {
    text-align: center;
    width: 90%;
}

#logo {
    transform: scale(0.7);
    justify-self: center;
}

footer {
    height: 20px;
}

/* .card {
    padding: 4% 4% 4% 4%;
} */
